<table>
  <thead>
    <tr>
      <th>Node ID</th>
      <th>Title</th>
      <th>Created Date</th>
      <th>Link</th>
    </tr>
  </thead>
  <tbody>
    {% for node in nodes %}
      <tr>
        <td>{{ node.nid }}</td>
        <td>
          <a href="{{ path('entity.node.canonical', {'node': node.nid}) }}">{{ node.title }}</a>
        </td>
        <td>{{ node.created }}</td>
        <td>
          {% if node.link %}
            {{ link(node.title, node.link.uri) }}
          {% endif %}
        </td>
      </tr>
    {% endfor %}
  </tbody>
</table>
